# Created by .ignore support plugin (hsz.mobi)
/praca_inz/praca_inzynierska.log
/praca_inz/praca_inzynierska.aux
/praca_inz/praca_inzynierska.synctex.gz
/praca_inz/praca_inzynierska.toc
/praca_inz/praca_inzynierska.out
/pomocniczy/canvas chromosom
/zprapp/import_export/exported_data
/zpr/database/data
*.pyc
*.xml
/.idea/
/.sconsign.dblite
/build_tools/build_conf.json
*~
zprapp/calc/.sconsign.dblite
zprapp/calc/calc.so
zprapp/calc/calc_py.os
zprapp/calc/kmp.os
zprapp/migrations/__init__.py
*.os
*.so
functional_tests/chromedriver