# Created by .ignore support plugin (hsz.mobi)
*.pyc
#*.xml
/.idea/
/.sconsign.dblite
/build_tools/build_conf.json
zprapp/calc/.sconsign.dblite
zprapp/calc/calc.so
zprapp/calc/calc_py.os
zprapp/calc/kmp.os
zprapp/migrations/__init__.py
*.os
*.so
#/doc/grafika
#!/doc/praca_inzynierska.pdf
#!/doc/PiotrRoz-PracaMagisterska.pdf
