Django==1.9.2
gunicorn==19.3.0
psycopg2==2.6.1
selenium==2.49.2
xlrd==0.9.4
djangorestframework==3.5.1
Markdown==2.6.7
django-filter==0.15.3
coreapi==2.0.9
coreapi-cli==1.0.6
drf-extensions
ipython==5.0
django-extensions
anytree
