

{#940 x 400 gdy width > 991;  gdy <= 991 720 x 400  > 765 #}
{#gdy ng-controller="chrCanvasCtrl" to po kliknieciu na chromosom#}
{#wszystko dziala ale Uncaught TypeError: Cannot read property 'tagName' of null z evensts.js/getCanvasPos #}
<div class="row">
    <div class="col-sm-10">
        <canvas id="canvasChromosom" width="720" height="400"></canvas>
    </div>
</div>



{#<div class="well well-lg" ng-controller="chrCanvasCtrl" ng-click="klik()">#}
{#    <button class="btn btn-block btn-lg btn-danger">KLIK</button>#}
{#</div>#}
{##}
{#<div class="well well-lg" ng-controller="chrCanvasCtrl" ng-click="klik()">#}
{#    <button class="btn btn-block btn-lg btn-primary">GUZIK</button>#}
{#</div>#}


{############################# POMOCNICZE BEGIN##########################}

<div class="row btn-group" ng-controller="chrCanvasCtrl">
{#    <button class="btn btn-lg btn-danger" ng-click="klik()">KLIK</button>#}
{#    <button class="btn btn-lg btn-primary" ng-click="guzik()">GUZIK</button>#}
</div>

{############################# POMOCNICZE END##########################}

<div class="panel">
    <h3 class="panel-heading">CHROMOSOMY: </h3>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Chromosom {['CHROMOSOMY' | translate ]}</th>
            <th>Długość</th>
            <th>Adnotacje</th>
        </tr>
        </thead>
        <tr ng-repeat="ch in chrms">
            <td><a ng-href="#/organisms/{[id_org]}/chromosomes/{[ch.pk]}/types/{[id_type]}/annotations/">chromosom {[ch.number]}</a></td>
            <td>{[ch.fields.length]}</td>
            <td>
                <div class="btn-group btn-group-sm" role="group">
                    <a ng-repeat="t in types[ch.pk]" type="button" class="btn btn-default" ng-href="#/organisms/{[id_org]}/chromosomes/{[ch.pk]}/types/{[t.id]}/annotations">{[t.name]}</a>
{#                    <a type="button" class="btn btn-default">dwa</a>#}
                </div>
{#                <a class="btn btn-sm btn-info" ng-href="www.onet.pl">onet</a>#}
            </td>
        </tr>
    </table>
</div>