{#<div>#}
{#    CHROMOSOMY:#}
{#</div>#}
{#<div>#}
{#    <table>#}
{#        <tr ng-repeat="ch in chrms">#}
{#            <td><a ng-href="#/chromosom/{[ch.pk]}/scaffoldy">chromosom {[ch.pk]}</a> o długosci {[ch.fields.length]} </td>#}
{#        </tr>#}
{#    </table>#}
{#</div>#}

{#<div ng-controller="chrCanvasCtrl">#}
{#    {[ chrms ]}#}
{#</div>#}


<div class="row" ng-controller="chrCanvasCtrl">
    <div class="col-xs-12">
        <canvas id="canvasChromosom"></canvas>
    </div>
</div>

<div class="panel">
        <h3 class="panel-heading">CHROMOSOMY: </h3>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr><th>Chromosom</th><th>Długość</th></tr>
            </thead>
            <tr ng-repeat="ch in chrms">
                <td><a ng-href="#/chromosom/{[ch.pk]}/scaffoldy">chromosom {[ch.fields.number]}</a></td>
                <td>{[ch.fields.length]}</td>
            </tr>
        </table>
</div>