<!DOCTYPE html>
<html ng-app="CucModule">
<head lang="en">
    <link href="/static/zprapp/angularjs/bootstrap.css" rel="stylesheet"/>
    <link href="/static/zprapp/angularjs/bootstrap-theme.css" rel="stylesheet"/>
    {#    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>#}
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.js"></script>
    <script src="/static/zprapp/angularjs/angular-route.js"></script>
    <script src="/static/zprapp/angularjs/events.js"></script>
    {#    <script src="/static/zprapp/angular.js"></script>#}
    <script src="/static/zprapp/ogolne.js"></script>
    <script src="/static/zprapp/sekwencjaKontroller.js"></script>
    <script src="/static/zprapp/scaffoldKontroler.js"></script>
    <script src="/static/zprapp/chromosomKontroler.js"></script>
    <script src="/static/zprapp/chrCanvasCtrl.js"></script>

    <style type="text/css">
        .selected {
            background-color: rgba(199, 240, 234, 0.55);
        }
    </style>
    {#    <style>#}
    {#        canvas {#}
    {#            background-color: blue;#}
    {#            width: 100%;#}
    {#            height: auto;#}
    {#        }#}
    {#    </style>#}
    <meta charset="UTF-8">
    <title></title>
</head>
{#<body ng-controller="OrganizmKontroler">#}
<body>


{#<div ng-controller="chrCanvasCtrl" class="container-fluid">#}
{#    <div class="row">#}
{#        <div class="col-lg-10 col-lg-offset-1">#}
{#            <canvas id="canvasChromosom" width="720" height="400"></canvas>#}
{#        </div>#}
{#    </div>#}
{#</div>#}



<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="navbar navbar-inverse">
                <a class="navbar-brand" href="#/chromosomy">PRZEGLĄDARKA GENOMU OGÓRKA</a>
            </div>
            <div ng-view></div>

        </div>
    </div>

</div>


</body>
</html>