{#dsadsadsa#}
{#{[aaa]}#}

<div class="panel">
    <h3 class="panel-heading panel">{[ 'ORGANIZMY' | translate | uppercase]}:
        <p class="text-right">
            <button ng-controller="SearchSeqModalCtrl" class=" btn btn-primary" ng-click="open()">{['WYSZUKAJ' | translate]}</button>
            <button ng-controller="NewOrganizmModalCtrl" class="btn btn-primary" ng-click="open()"> {[ 'DODAJ_NOWY_ORG' | translate ]}</button>
        </p>
    </h3>
{#        <button ng-controller="NewOrganizmModalCtrl" class="btn btn-primary" ng-click="open()">nowy</button></h3>#}

    <table class="table table-striped table-hover" ng-init="showDeleteOrganism=[]">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th> </th>{# konieczne zeby pogrubic pod "Nazwa" do konca samego -> liczba kolimn naglowka z liczba kolumn wnetrza musi sie zgadzac #}
        </tr>
        </thead>
        <tr ng-repeat="o in orgs" ng-init="showDeleteOrganism[$index]=false"
            ng-mouseenter="showDeleteOrganism[$index]=true"
            ng-mouseleave="showDeleteOrganism[$index]=false">
            <td>
                <h5>
                    <a ng-href="#/organizm/{[o.pk]}/chromosomy">{[o.fields.name]}</a>
                </h5>
            </td>
            <td align="right">
                <button class="btn btn-danger btn-sm fx-fade-normal fx-speed-700"
                        ng-click="deleteOrganism($index)"
                        ng-show="showDeleteOrganism[$index]"
                        popover-placement="left" popover="{['USUN_ORG' | translate ]}" popover-trigger="mouseenter">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>
            </td>
        </tr>
    </table>
</div>


{#########################################################################################################################}
{#okno modalne z dodawaniem nowego organizmu#}
<div ng-controller="NewOrganizmModalCtrl">
        <script type="text/ng-template" id="NewOrganizmModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">NOWY ORGANIZM</h3>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead><strong>Podaj pliki nowego organizmu:</strong></thead>
                    <tr ng-repeat="opis in opisPlikow">
                        <td>{[opis[0]]}</td>
                        <td>[ {[opis[1]]} ]</td>
                        <td align="right">
                            <button class="btn btn-sm btn-primary" ngf-select ng-model="files[$index]"><span class="glyphicon glyphicon-folder-open"></span></button>
                        </td>
                        <td><i>{[files[$index][0].name]}</i></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div collapse="!progressbar.visible">
                    <progressbar value='progressbar.value'
                                 ng-class="progressbar.class"
                                 type='{[progressbar.type]}'>
                        <strong>{[progressbar.text]}</strong>
                    </progressbar>
                </div>
                <div collapse="!buttonyVisible">
{#                    <button class="btn btn-success" ng-click="test()">TEST</button>#}
                    <button class="btn btn-success" ng-class="disabledUpload" ng-click="uploadStart()">Upload <span class="glyphicon glyphicon-cloud-upload"></span></button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel <span class="glyphicon glyphicon-remove-sign"></span></button>
                </div>
                <div collapse="!message.visible">
                    <alert type="{[message.type]}">
                        <p class="text-left">
                            {[message.text]}
                        </p>
                        <button class="btn" ng-click="dismissModal()" ng-class="message.buttonClass">OK</button>

                    </alert>
                </div>

            </div>
        </script>
{#        <button class="btn btn-primary" ng-click="open()">MODAL</button>#}
</div>


{##########################################################################################################################}
{#okno modalne z wyszukiwaniem sekwencji#}
<div ng-controller="SearchSeqModalCtrl">
    <script type="text/ng-template" id="SearchSeqModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">wyszukiwanie sekwencji</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <select class="form-control" ng-model="wybranyAlg"
                            ng-options="alg.name for alg in algorytmy"/></select>
                </div>
                <div class="col-md-4">
                    {[wybranyAlg]}
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success btn-block" ng-click="searchSeq()">szukaj</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <select class="form-control" ng-model="wybranyOrg"
                            ng-options="org['fields']['name'] for org in orgs"/></select>
                    <input class="form-control" placeholder="cel" ng-model="cel">
                    <input class="form-control" placeholder="wzorzec" ng-model="wzorzec">
                    <div class="well">
                        {[wynik]}
                    </div>
                </div>
            </div>

        </div>


{#        <div class="modal-footer">#}
{#            <div>stopka</div>#}
{#        </div>#}
    </script>
</div>