<div class="panel">
    <h3 class="panel-heading">
        SEKWENCJA chromosomu {[ chr_id ]}, scaffoldu {[ sc_id ]}
    </h3>

{#    clipboard text="scs"#}
{#    <button class="btn btn-primary">#}
{#        <span class="glyphicon glyphicon-bitcoin"></span>#}
{#    </button>#}

</div>
<div class="panel-body">
    <alert id="alert_copy" type={[alert.type]} collapse="alert.show">
        {[alert.msg]}
    </alert>
    <button id="button_copy" ng-click="copySeq()"
            class="btn btn-primary btn-block center">
        <span class="glyphicon glyphicon-save"></span>
        KOPIUJ SEKWENCJĘ
    </button>
    <div class="well well-lg" style="word-wrap: break-word">
        {[ scs ]}
    </div>
</div>

